body {
    margin: 0;
}

.surface {
    width: 100vw;
    height: 100vh;
    background-color: rgb(220, 169, 92);
}

#btn {
    position: absolute;
    left: 50%;
    top: 50%;
    transition: 0.3s;

    width: 100px;
    height: 50px;
    font-size: 15px;
    border-radius: 10px;
    border: none;
    outline: none;
    font-weight: bold;
    box-shadow: rgba(246, 0, 0, 0.35) 0 5px 15px;
}