body {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: nowrap;
}

.arrImg {
    width: 1000px;
    height: 550px;
    margin: 0 5%;
}

#slides {
    display:block;
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.btn {
    display: flex;
    align-items: center;
}